// scss-lint:disable NestingDepth,SelectorDepth
.navbar-default {
  > .container {
    position: relative;
  }

  .navbar-collapse {
    @media (max-width: $screen-sm-max) {
      max-height: none;
      text-align: center;
    }
  }

  .navbar-brand {
    @media (min-width: $screen-md-min) {
      padding-right: 0;
      margin-right: -20px;
    }

    .wordmark {
      transition: fill .3s;
    }

    &:focus,
    &:hover {
      outline: 0;

      .wordmark {
        fill: $color-primary-alt;
      }
    }
  }

  .navbar-nav {
    margin-bottom: 0;

    @media (min-width: $screen-md-min) {
      float: right;
    }

    > li {
      &.active {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: -1px;
          height: 4px;
          background-color: $color-primary;
        }
      }

      &:last-child {
        border-bottom: 2px solid $color-primary;

        @media (min-width: $screen-md-min) {
          border-bottom: 0;
        }
      }

      > a {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;

        @media (min-width: $screen-sm-min) {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 14px;
        }

        @media (min-width: $screen-md-min) {
          padding: 15px 10px;
          font-size: 16px;
        }

        @media (min-width: $screen-lg-min) {
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }

    .sign-in-up-btn,
    .explore-btn {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      color: $color-primary;
      font-weight: 600;

      @media (min-width: $screen-md-min) {
        margin-right: 10px;
      }

      &:hover {
        text-decoration: underline;
      }

      &.is-last {
        @media (min-width: $screen-md-min) {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }

    .explore-btn {
      margin-right: 18px;
    }
  }
}
// scss-lint:enable NestingDepth,SelectorDepth
